* {
  -webkit-touch-callout: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Pretendard, serif;
  line-height: 1.5;
  background-color: white;
  color: #212121;
}

/* 자동완성 시 배경색 및 글자색 지정 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input::placeholder {
  color: #777777;
  opacity: 0.7;
  font-size: 0.9rem;
}
textarea::placeholder {
  color: #777777;
  opacity: 0.7;
  font-size: 0.9rem;
}
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s; /* 배경색 변경 효과를 지연시킴 */
}

.selection-none {
  user-select: none;
  -webkit-user-select: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(128,128,128,0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track-piece {}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer{
  display: none;
}

/* 이미지, 비디오 등의 요소의 최대 너비 제한 */
img,
video,
canvas {
  display: block;
  max-width: 100%;
}

/* 목록 기본 스타일 제거 */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 링크의 기본 스타일 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 테이블 기본 스타일 재정의 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}